/* GENERAL */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    /* border: 1px solid red; */
}

html,
body {
    height: 100%;
}

h1,
h2,
h3,
h4 {
    text-align: center;
    font-family: 'Chivo', sans-serif;
}

h1 {
    font-size: 32px;
}

h3 {
    margin: 0 auto 25px;
}

button {
    padding: 20px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    font-weight: 700;
    margin: 10px auto;
}

section {
    max-width: 750px;
    margin: 0 auto 50px;
    border-top: 1px dashed black;
    padding: 0 10px;
}

.section__title {
    margin: 50px auto;
}

] .headers {
    margin-bottom: 50px;
}

.headers * {
    margin: 0 auto 10px;
    display: block;
    text-align: left;
    text-decoration: none;
    border: none;
    font-family: 'Chivo', sans-serif;
}

.full-width {
    max-width: none;
}

p {
    margin-bottom: 20px;
    line-height: 1.5;
}

.bitter {
    font-family: 'Bitter', serif;
}

.chivo {
    font-family: 'Chivo', sans-serif;
}

.fw-700 {
    font-weight: 700;
}

.fw-400 {
    font-weight: 400;
}

.fw-300 {
    font-weight: 300;
}

.italic {
    font-style: italic;
}

.pink {
    color: rgb(231, 56, 111);
}

.blue {
    color: rgb(33, 170, 186)
}

.yellow {
    color: rgb(232, 220, 79);
}


.white {
    color: white;
}

.bg-pink {
    background-color: rgb(231, 56, 111);
}

.bg-blue {
    background-color: rgb(33, 170, 186);
}

.bg-yellow {
    background-color: rgb(232, 220, 79);
}

.bg-white {
    background-color: white;
}

.noborder {
    border: none;
}


.border-pink {
    border-color: rgb(231, 56, 111);
}

.border-blue {
    border-color: rgb(33, 170, 186);
}

.border-yellow {
    border-color: rgb(232, 220, 79);
}


.color {
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
}

#full-width {
    background-image: url('./pattern.png');
    text-align: center;
}

#full-width h2 {
    display: inline-block;
    padding: 20px;
}

#buttons {
    text-align: center;
}

.button-1 {
    box-shadow: 0 rgb(33, 170, 186);
    position: relative;
    bottom: 0;
    left: 0;
    transition-duration: 200ms;
    transition-property: bottom, left, box-shadow;
}

.button-1:hover {
    bottom: 2px;
    left: 2px;
    box-shadow: -5px 5px rgb(33, 170, 186);
}

.button-2 {
    border-color: rgb(33, 170, 186);
    background: transparent;
    transition-duration: 200ms;
    transition-property: background-color, color;
}

.button-2:hover {
    background-color: rgb(33, 170, 186);
    color: white;
}

.button-3 {
    transition-duration: 200ms;
    transition-property: background-color, border-color;
}

.button-3:hover {
    background-color: rgb(33, 170, 186);
    border-color: rgb(33, 170, 186);
}

a,
a:visited {
    text-decoration: none;
    background-color: rgb(232, 220, 79);
    padding: 2px 5px;
    color: black;
    transition-duration: 200ms;
}

a:hover {
    text-decoration: none;
    background-color: rgb(33, 170, 186);
    color: white;
}

/* HEADER */

header {
    height: 50px;
    display: flex;
    justify-content: end;
}



/* MOBILE MENU */

button.hamburger span::after,
button.hamburger span::before,
.hamburger-inner {
    background-color: black;
}

button.is-active {
    z-index: 10;
}

.menu--mobile {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: white;
    display: none;
}

.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after,
.hamburger.is-active .hamburger-inner {}

button.is-active+.menu--mobile {
    display: flex;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
}

nav li {
    margin: 1rem;
    padding: 1rem;
}

nav hr {
    margin: 1rem auto;
}

.menu--mobile a,
.menu--mobile a:hover {
    background: none;
    color: black;
}

@media only screen and (min-width: 768px) {
    button.hamburger {
        display: none;
    }

    button.is-active+.menu--mobile {
        display: none;
    }
}


/* DESKTOP MENU */

.menu--desktop {
    display: none;
}



@media only screen and (min-width: 768px) {
    button.is-active+.menu--mobile {
        display: none;
    }

    header {
        justify-content: start;
    }

    .menu--desktop {
        display: flex;
        align-items: center;
    }

    .menu--desktop {
        /* background-color: aliceblue; */
        color: white;
        cursor: pointer;
    }

    .menu--desktop li {
        display: inline-block;
        margin: 1rem;
        font-weight: bold;
    }

    .menu--desktop a,
    .menu--desktop a:hover {
        background: none;
        color: black;
    }

}

/* HERO */

#hero {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url('../img/hero.jpg');
    background-size: cover;
    color: white;
    padding: 0 10%;
}

#hero .title,
#hero .subtitle {
    line-height: 1.5;
    display: block;
    text-align: left;
}

#hero .title {
    font-size: 2rem;
}

#hero .subtitle {
    font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
    #hero {
        height: 700px;
        max-height: 80vh;
        align-items: center;
    }

    #hero .title,
    #hero .subtitle {
        text-align: center;
    }

    #hero .title {
        font-size: 3rem;
    }

    #hero .subtitle {
        font-size: 2.2rem;
    }

}

#about .portrait {
    width: 180px;
    border-radius: 10px;
    display: block;
    margin: 50px auto;
}

#about .about__description {
    margin: auto;
    width: 90%;
    max-width: 350px;
}

.technologies {
    display: flex;
}

.technologies img {
    max-height: 2rem;
}

.technologies img:not(:last-child) {
    margin-right: 1rem;
}

@media only screen and (min-width: 768px) {
    .about__content {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;

    }

    #about .portrait {
        margin: 0;
    }

    #about .about__description {
        margin: 2rem;
    }
}